version: "3.9"

services:
  app:
    build: .
    container_name: webekommerce_app
    ports:
      - "8000:80"
    volumes:
      - .:/var/www/html
    env_file:
      - .env.docker
    depends_on:
      - db
      - redis

  db:
    image: mysql:8.0
    container_name: webekommerce_db
    restart: unless-stopped
    ports:
      - "3306:3306"
    environment:
      MYSQL_ROOT_PASSWORD: rootpassword
      MYSQL_DATABASE: webekommerce
    volumes:
      - dbdata:/var/lib/mysql

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    container_name: webekommerce_pma
    restart: unless-stopped
    ports:
      - "8080:80"
    environment:
      PMA_HOST: db
      PMA_USER: root
      PMA_PASSWORD: rootpassword
    depends_on:
      - db

  redis:
    image: redis:alpine
    container_name: webekommerce_redis
    ports:
      - "6379:6379"

volumes:
  dbdata:
